/* interactive cv */

.qualificationSection {
  border-left: 1px solid red;
}

.qualificationSection ul li {
  padding: 10px 0;
}

.qualiDate {
  display: block;
  font-size: 12px;
}

.experienceChart {
  margin: 15px 0;
}

/* accordion fixes */
.MuiPaper-root {
  background-color: var(--almostBlack) !important;
  color: var(--softWhite) !important;
  border: var(--border);
  margin: 10px 0px;
  border-radius: 10px !important;
  padding: 0.6rem;
}

.MuiAccordionSummary-content {
  color: var(--secondaryAccentColor);
}

/* timeline */

.experienceChart {
  position: relative;
}

.experienceChart ul.rb {
  margin: 0.5em 0;
  padding: 0;
  display: inline-block;
  width: 100%;
}

.experienceChart ul.rb li {
  list-style: none;
  margin: auto;
  min-height: 50px;
  border-left: 1px dotted var(--lightWhite);
  padding: 0 0 40px 40px;
  position: relative;
}

.experienceChart ul.rb li::before {
  position: absolute;
  left: -11px;
  top: 0px;
  content: " ";
  border-radius: 500%;
  background: var(--softWhite);
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}

.experienceChart ul.rb li:first-child:before {
  background: var(--accentColor) !important;
}

.experienceChart ul.rb li:first-child .timestamp {
  color: var(--secondaryAccentColor) !important;
}

.experienceChart ul.rb li:hover::before {
  border-color: #232931;
  transition: all 1000ms ease-in-out;
}

ul.rb li .timestamp {
  color: var(--lightWhite);
  position: relative;
  font-size: 14px;
  margin-bottom: 1rem;
}

.experienceChart .employmentDetails ul li::before {
  border-left: 0 !important;
  width: 0;
  height: 0;
  background: none;
}

.employmentTitle {
  min-width: 40%;
}

.employmentDetails {
  width: 100%;
}

.experienceChart .employmentDetails ul {
  margin-top: 2.5rem;
}

.experienceChart .employmentDetails ul li {
  border-left: 0 !important;
  list-style: circle;
  padding: 5px 7px !important;
  font-size: 15px;
  min-height: 25px !important;
  color: var(--softWhite);
}

.rb-item {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.item-title {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.item-subtitle {
  font-size: 14px;
  color: var(--softWhite);
}

/* chart */
.VictoryContainer svg g path {
  transition: ease-in-out 150ms;
  transition-duration: 0.15s;
}
.VictoryContainer svg g path:hover {
  fill: red !important;
  box-shadow: var(--simpleShadow) !important;
}
