/* projects */
.outerProjectCard {
  margin: unset;
  width: 100%;
  max-width: 100%;
  min-width: 300px;
}

.outerProjectCard a {
  text-decoration: underline;
  color: white;
  text-transform: uppercase;
  text-underline-offset: 5.5px;
  width: unset !important;
}
.outerProjectCard h3 {
  width: fit-content !important;
}

.projectCard {
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  display: flex;
  box-shadow: var(--simpleShadow);
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition-duration: 300ms;
  transition: ease-in-out 300ms;
  top: 0;
}

.projectCard:hover {
  position: relative;
  top: -7px;
}

.projectCard:hover .backgroundPhoto {
  opacity: 1;
}

.backgroundPhoto {
  opacity: 0.6;
  transition: ease-in-out 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  overflow: hidden;
}

.backgroundPhoto img {
  width: 100%;
}

.projectDetail {
  transition: ease-in-out 200ms;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
  border: var(--border);
  backdrop-filter: blur(10px);
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  flex-direction: column;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.outerProjectCard:hover .backgroundPhoto {
  opacity: 1;
}

.outerProjectCard:hover .projectCard {
  box-shadow: var(--simpleShadow);
}

.technologyCategories {
  padding: 4px 14px;
  background: var(--secondaryAccentColor);
  border-radius: 20px;
  word-break: break-word;
  text-transform: uppercase;
  color: black;
  margin-right: 10px;
  font-size: 12px;
  width: fit-content;
}

.topCategory {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
}

.topCategory .technologyCategories {
  background-color: var(--almostBlack);
  color: white;
}
/* filter */

.filterContainer {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  align-items: center;
  flex-wrap: wrap;
}

.filterContainer .simpleButton {
  width: fit-content;
}

.filterContainer p {
  color: var(--lightWhite);
  margin-right: 15px;
  margin-bottom: 0;
}

.filteredItemCollection {
  justify-content: flex-start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  gap: 20px;
  width: 100%;
  padding-top: 1rem;
}

/* animation */
.slide-enter {
  transform: translateX(-200px);
  opacity: 1;
  transition: ease-in-out 300ms;
}

.slide-enter-active {
  transform: translateX(0);
  transition: all 300ms;
  opacity: 1;
}

.slide-exit {
  transform: translateX(200px);
  opacity: 0.3;
  transition: all 300ms;
}

.slide-exit-active {
  transform: translateX(200px);
  transition: all 300ms;
  opacity: 0;
}

/* content */
.descriptionContainer {
  font-size: 14.5px;
  color: var(--softWhite);
}

.keyInfoContainer {
  display: flex;
  margin-top: 1.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  margin-bottom: 2rem;
}

.keyInfoContainer p {
  margin: 0;
  padding: 0;
}

.highlightInformation {
  display: flex;
  flex-direction: row;
  gap: 15px;
  color: var(--softWhite);
  padding-left: 10px;
  align-items: center;
  margin: 10px 0;
  font-size: 15px;
}

.highlightInformation span {
  color: var(--accentColor);
}

.highlightInformation p span {
  padding-right: 5px;
  color: var(--softWhite);
}

.highlightInformation p {
  margin: 0;
  color: var(--lightWhite);
}

.imageContainer img {
  width: 100%;
}

.mainPhoto {
  width: 100%;
}

/* technologies used */
.technologyContainer {
  background: var(--almostBlack);
  border: var(--border);
  padding: 20px;
  margin: 2rem 0;
  border-radius: 15px;
  color: var(--lightWhite);
}

.technologyContainer h5 {
  color: var(--secondaryAccentColor);
  margin-bottom: 1.5rem;
}
.projectTechnologies .technologyCategories {
  display: inline-flex;
  margin-right: 5px;
  margin-bottom: 4px;
}

.technologyContainer .technologyCategories {
  display: inline-flex;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  background-color: var(--softWhite);
}

/* skills */
.skillContainer,
.designContainer {
  background-color: var(--almostBlack);
  color: var(--softWhite);
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 7px;
  border: var(--border);
  margin: 1rem 0;
  min-height: 415px;
  justify-content: flex-start;
}

.skillContainer h4 {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-size: 16px;
  color: var(--lightWhite);
  text-align: center;
}

.skillContainer p {
  color: var(--lightWhite);
}

.skillContainer .chartContainer {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.familiarCat {
  padding-right: 0.5rem;
  border-right: 1px solid var(--bottomBorder);
  margin-right: 0.8rem;
  font-size: 14px;
  padding-top: 0;
  margin-top: 0;
}

.familiarCat:last-child {
  padding-right: 0;
  border-right: 0;
  margin-right: 0;
}

.softwareKnowledge {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 7px;
  margin: 4.5rem 0;
  justify-content: flex-start;
}

.softwareKnowledge div div,
.microsoftContainer div div {
  margin: 2rem 0;
}

.sotfwareKnowledge p {
  color: var(--fullBlack);
}

/* microsoft related apps */
.Skills .MuiPaper-root {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  margin-top: 0;
}

.microsoftContainer .microsoftContainer .mainImage {
  max-width: 200px;
  float: right;
  margin: 10px 10px 2rem 3rem;
}

.microsoftContainer p {
  color: var(--softWhite);
  font-size: 16px;
}

.microsoftContainer h3 {
  margin-bottom: 2rem;
}

.serviceIcons {
  max-width: 60px;
  margin: 1rem 0;
}

.microsoftContainer div p:nth-child(3) {
  font-size: 15px;
}

.softwareKnowledge div .softwareDescription {
  font-size: 14.5px;
}

.softwareItem {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--almostBlack);
}

.secondaryMenu {
  flex-wrap: wrap;
}

.secondaryMenu p {
  margin: 0;
  padding: 0;
  color: var(--lightWhite);
  font-size: 14px;
  margin-right: 20px;
}

.designContainer {
  background-color: var(--almostBlack);
  padding: 30px;
}
